<div class="bg-slate-50 p-2 relative">
    <div class="text-3xl mt-4 mb-7 flex justify-between items-center">
        <div class="font-helvetica font-semibold">Top Restaurants</div>
        <p class="block sm:hidden text-rose-600 text-sm font-okra cursor-pointer">All restaurants in Varanasi</p>
    </div>
    <div class="flex justify-between items-center my-4">
        <p class="text-lg font-okra font-light text-slate-600">Explore curated lists of top restaurants, cafes, pubs, and bars in Varanasi, based on trends</p>
        <p class="sm:block hidden text-rose-600 cursor-pointer font-okra">All restaurants in Varanasi</p>
    </div>
     <app-generic-carousel [data]="restaurants" [titleColor]="'text-slate-100'" [selector]="'restaurant'"></app-generic-carousel>
</div>

