<div class="sm:block flex justify-between gap-x-3 py-2 bg-white w-full font-okra text-[16px] text-slate-600 font-light overflow-x-scroll scroll-width-none">
    <div class="w-fit text-nowrap sm:w-full py-2 text-left cursor-pointer sm:border-r-2 border-b-2 sm:border-b-0" (click)="setActiveFilter('Platters')" [class.filter-active]="active==='Platters'">
        Platters
    </div>
    <div class="w-fit text-nowrap sm:w-full py-2 text-left cursor-pointer sm:border-r-2 border-b-2 sm:border-b-0" (click)="setActiveFilter('Soups & Salads')" [class.filter-active]="active==='Soups & Salads'">
        Soups & Salads
    </div>
    <div class="w-fit text-nowrap sm:w-full py-2 text-left cursor-pointer sm:border-r-2 border-b-2 sm:border-b-0" (click)="setActiveFilter('Starters')" [class.filter-active]="active==='Starters'">
        Starters
    </div>
    <div class="w-fit text-nowrap sm:w-full py-2 text-left cursor-pointer sm:border-r-2 border-b-2 sm:border-b-0" (click)="setActiveFilter('Main Course')" [class.filter-active]="active==='Main Course'">
        Main Course
    </div>
    <div class="w-fit text-nowrap sm:w-full py-2 text-left cursor-pointer sm:border-r-2 border-b-2 sm:border-b-0" (click)="setActiveFilter('Breads')" [class.filter-active]="active==='Breads'">
        Breads
    </div>
    <div class="w-fit text-nowrap sm:w-full py-2 text-left cursor-pointer sm:border-r-2 border-b-2 sm:border-b-0" (click)="setActiveFilter('Rice & Biryani')" [class.filter-active]="active==='Rice & Biryani'">
        Rice & Biryani
    </div>
    <div class="w-fit text-nowrap sm:w-full py-2 text-left cursor-pointer sm:border-r-2 border-b-2 sm:border-b-0" (click)="setActiveFilter('Fried Rice & Noodles')" [class.filter-active]="active==='Fried Rice & Noodles'">
        Fried Rice & Noodles
    </div>
    <div class="w-fit text-nowrap sm:w-full py-2 text-left cursor-pointer sm:border-r-2 border-b-2 sm:border-b-0" (click)="setActiveFilter('Snacks')" [class.filter-active]="active==='Snacks'">
        Snacks
    </div>
    <div class="w-fit text-nowrap sm:w-full py-2 text-left cursor-pointer sm:border-r-2 border-b-2 sm:border-b-0" (click)="setActiveFilter('Accompaniments')" [class.filter-active]="active==='Accompaniments'">
        Accompaniments
    </div>
    <div class="w-fit text-nowrap sm:w-full py-2 text-left cursor-pointer sm:border-r-2 border-b-2 sm:border-b-0" (click)="setActiveFilter('Desserts')" [class.filter-active]="active==='Desserts'">
        Desserts
    </div>
    <div class="w-fit text-nowrap sm:w-full py-2 text-left cursor-pointer sm:border-r-2 border-b-2 sm:border-b-0" (click)="setActiveFilter('Soft Drinks')" [class.filter-active]="active==='Soft Drinks'">
        Soft Drinks
    </div>
</div>
