<div class="bg-slate-50 p-2 relative">
    <div class="text-3xl mt-4 mb-7 flex justify-between items-center">
        <div class="font-helvetica font-semibold">Collections</div>
        <p class="block sm:hidden text-rose-600 text-sm font-okra cursor-pointer">All collections in Varanasi</p>
    </div>
    <div class="flex justify-between items-center">
        <p class="text-lg font-okra font-light text-slate-600">Choose from the collection of restaurants, pubs, and bars in Varanasi based on most perfect pic by users like you</p>
        <p class="sm:block hidden text-rose-600 cursor-pointer font-okra">All collections in Varanasi</p>
    </div>
    <app-generic-carousel [data]="collections" [titleColor]="'text-rose-400'" [selector]="'collection'"></app-generic-carousel>
</div>
