<div class="w-full bg-slate-50">
    <div class="w-full pt-8 pb-3 px-8 mx-auto container">
        <div class="flex justify-between flex-wrap py-2 font-helvetica font-bold">
            <h1 class="text-4xl text-slate-800">Foodify</h1>
            <div class="p-2 flex gap-5 justify-around">
                <button class="px-3 text-lg bg-white rounded-md shadow py-1 font-semibold border border-slate-400">Sign in</button>
                <button class="px-3 text-lg bg-white rounded-md shadow py-1 font-semibold border border-slate-400">Register</button>
            </div>
        </div>

        <div class="mt-5 flex flex-wrap justify-between gap-3 text-left">
            <div>
                <h1 class="font-semibold font-helvetica text-lg text-slate-700 uppercase">About Foodify</h1>
                <div>
                    <a href="#" class="block font-light text-sm text-slate-600 my-1">Who we are</a>
                    <a href="#" class="block font-light text-sm text-slate-600 my-1">Blog</a>
                    <a href="#" class="block font-light text-sm text-slate-600 my-1">Work With Us</a>
                    <a href="#" class="block font-light text-sm text-slate-600 my-1">Investor Relations</a>
                    <a href="#" class="block font-light text-sm text-slate-600 my-1">Report Fraud</a>
                    <a href="#" class="block font-light text-sm text-slate-600 my-1">Press Kit</a>
                    <a href="#" class="block font-light text-sm text-slate-600 my-1">Contact Us</a>
                </div>
            </div>
            <div>
                <h1 class="font-semibold font-helvetica text-lg text-slate-700 uppercase">Foodverse</h1>
                <a href="#" class="block font-light text-sm text-slate-600 my-1">Foodify</a>
                <a href="#" class="block font-light text-sm text-slate-600 my-1">Shopify</a>
                <a href="#" class="block font-light text-sm text-slate-600 my-1">Feeding India</a>
                <a href="#" class="block font-light text-sm text-slate-600 my-1">Pure Food</a>
                <a href="#" class="block font-light text-sm text-slate-600 my-1">Foodland</a>
            </div>
            <div>
                <div>
                    <h1 class="font-semibold font-helvetica text-lg text-slate-700">FOR RESTAURANTS</h1>
                    <a href="#" class="block font-light text-sm text-slate-600 my-1">Foodify</a>
                    <a href="#" class="block font-light text-sm text-slate-600 my-1">Shopify</a>
                </div>
                <div class="my-3">
                    <h1 class="font-semibold font-helvetica text-lg text-slate-700">FOR ENTERPRISES</h1>
                    <a href="#" class="block font-light text-sm text-slate-600 my-1">Pure Food</a>
                    <a href="#" class="block font-light text-sm text-slate-600 my-1">Foodland</a>
                </div>
            </div>
            <div>
                <h1 class="font-semibold font-helvetica text-lg text-slate-700 uppercase">Learn More</h1>
                <a href="#" class="block font-light text-sm text-slate-600 my-1">Privacy</a>
                <a href="#" class="block font-light text-sm text-slate-600 my-1">Security</a>
                <a href="#" class="block font-light text-sm text-slate-600 my-1">Terms</a>
                <a href="#" class="block font-light text-sm text-slate-600 my-1">Sitemap</a>
            </div>
            <div class="hidden sm:block">
                <h1 class="font-semibold font-helvetica text-lg text-slate-700 uppercase">Social Links</h1>
                <a href="#" class="block font-semibold text-center text-lg text-white bg-gradient-to-r bg-pink-700 my-1">Instagram</a>
                <a href="#" class="block font-semibold text-lg text-white bg-blue-400 text-center my-1">Facebook</a>
                <a href="#" class="block font-semibold text-center text-lg text-white my-1 bg-black">Twitter</a>
            </div>
        </div>
    </div>

</div>
