<div class="flex justify-center items-center w-full">
    <div class="swiper">
        <div class="swiper-wrapper">
            @for (image of images; track image) {
                <div class="swiper-slide aspect-square object-contain md:h-[80vh] sm:h-[50vh] h-[40vh]">
                    <img src="{{image}}" class="w-full h-full">
                </div>
            }
        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-next" (click)="nextSlide()"></div>
        <div class="swiper-button-prev" (click)="prevSlide()"></div>

        <div class="swiper-scrollbar"></div>
    </div>
</div>


