<div class="flex justify-center items-center w-full">
    <div class="swiper w-full swiper-carousel">
        <div class="swiper-wrapper w-full">
            @for (image of images; track image) {
                <div class="swiper-slide aspect-square object-cover md:h-[70vh] sm:h-[50vh] h-[40vh]">
                    <img src="{{image}}" class="w-[100vw] object-cover h-full">
                </div>
            }
        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>


