<div class="bg-white min-w-[320px] px-2 py-3 font-okra text-lg text-slate-600 w-full flex justify-start gap-4 overflow-x-scroll scroll-width-none">
    <div class="element cursor-pointer" (click)="open()">
        <div class="py-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
            </svg>
        </div>
        <div>
            Filters
        </div>
    </div>
    <div class="element">
        <div class="py-1">
            <img src="/assets/images/category/veg.png" alt="veg" class="w-6 h-6">
        </div>
        <div>
            Veg
        </div>
    </div>
    <div class="element">
        <div class="py-1">
            <img src="/assets/images/category/non-veg.png" alt="non-veg" class="w-5 h-5">
        </div>
        <div>
            Non Veg
        </div>
    </div>
    <div class="element">
        <div>
            4.5+ Rating
        </div>
    </div>
    <div class="element">
        <div>
            Late Night
        </div>
    </div>
</div>
